{% include "partials/htmlhead.njk" %}
{% include "partials/header.njk" %}

<main class="uk-container">
  <h1>11ty Starter</h1>
</main>

{% include "partials/footer.njk" %}
{% include "partials/htmlfoot.njk" %}